<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    {% if data == None %}
        <p>Client non registrato nel database</p>
    {% else %}
        <ul>
            {% for info in data %}
                <li>{{info}}</li>
            {% end %}
        </ul>
    {% end %}
    
    <br>
    
    <form id="myForm">
        <input type="submit" value="sysinfo" 
             name="command" id="frm1_submit" />
    </form>

    <form method="post" action="">
        <input type="hidden" name="clientid" value="{{data[0]}}">
        <input type="text" name="command" placeholder="Write command here...">
        <input type="submit" value="Send">
    </form>

    
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/recover">Recover</a>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        function SubForm (){
            $.ajax({
                url:'/client/api/sysinfo',
                type:'post',
                data:$('#myForm').serialize(),
                success:function(){
                    alert("worked");
                }
            });
        }
    </script>

</body>
</html>